<!DOCTYPEhtml>
        <style type="text/css">
            html{
                background-color: lightgray;
            }
            body{
                margin:auto;
                padding:20px;
                width:70%;
                font-size: large;
                background-color: white;
            }
            h1{
                margin:0;
                padding:20px;
                background-color: skyblue;
            }
            .under{
                border-bottom:solid 2px lightsalmon
            }
            table {
                margin:20px auto;
                width:30%;
                padding: 0;
            }
            td{
                text-align: center;
            }
            th,td{
                padding:10px;
            }
            th{
                border-bottom: 1px solid;
            }
        </style>
